{% extends "admin/change_form.html" %}

{% block content %}
  {% if form.errors %}
    <div class="messagelist">
      <ul class="errorlist">
        {{ form.errors.as_ul|safe }}
      </ul>
    </div>
  {% endif %}
  {{ block.super }}
  {% if form.user_types %}
    <div class="module">
      <h2>Groups</h2>
      <div class="form-row">{{ form.user_types }}</div>
    </div>
  {% endif %}
{% endblock %}

{% block submit_buttons %}
  <div class="submit-row">
    <input type="submit" value="Save and exit" class="default" name="_save" />
    <input type="submit" value="Save and add another" name="_addanother" />
  </div>
{% endblock %}
