{% load i18n %}
{% extends "admin/base_site.html" %}
{% block content %}
  <div class="module">
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="messagelist">
            <div class="success">{{ message }}</div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <h1>{% trans "Thank you" %}</h1>
    <p>{% blocktrans with title=survey.title %}Your responses for "{{ title }}" have been submitted.{% endblocktrans %}</p>
    <p><a class="button" href="{% url 'admin_user_surveys' %}">{% trans "Back to surveys" %}</a></p>
  </div>
{% endblock %}
